.nav-container {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.logo {
    flex-grow: 1;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    flex-grow: 4;
}

.links {
    color: hsl(0, 0%, 41%)
}

.nav-links a {
    margin: 0px 40px;
}

.arrow {
    margin-left: 5px;
}

#register {
    border-radius: 15px;
    padding: 10px 25px;
    border: 2px solid hsl(0, 0%, 41%);
}

#register:hover {
    border: 2px solid hsl(0, 0%, 8%);
}

.dropDown-Content {
    text-align: left;
    width: 120px;
    right: 10px;
    margin: 15px 0px;
    padding: 5px 15px;
    background-color: #FFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.dropDown-Content-hamburger {
    list-style-type: none;
}

.dropDown {
    position: relative;
}

.nav-title {
    cursor: pointer;
}

.nav-title:hover {
    color:hsl(0, 0%, 8%)
}

.dropDown li {
    margin: 10px;
}

.dropDow-item {
    display: flex;
    align-items: center;
}

.dropDow-item:hover, .dropDow-item-company:hover {
    color: hsl(0, 0%, 8%);
    cursor: pointer;
}

.login-register {
    color: hsl(0, 0%, 41%)
}


.dropDow-item span{
    margin: 0px 5px;
}


.hamburger-menu {
    display: none;
    cursor: pointer;
}

.nav-links-hambuger {
    display: none;
}


@media only screen and (max-width: 1100px) {
    .nav-links-hambuger {
        display: block;
        background-color: hsl(0, 0%, 98%);
        height: 100vh;
        padding-left: 20px;
        position: fixed;
        width: 40%;;
        right: 0;
        top: 0;
        padding-top: 80px;
    }
    
    .nav-links{
        display: none;
       
    }

   .hamburger-menu{
       display: block;
       position: fixed;
       margin-right: 30px;
       margin-top: 30px;
       right: 0;
       top: 0;
       z-index: 1;
   }

   

    .nav-links div a {
        display: block;
        margin-bottom: 15px;
    }

    .login-register {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .links {
        display: flex;
        flex-direction: column;
                
    }

    .links a {
        margin: 15px 0px;
    }

    #register {
        width: 60%;
    }
  }